<ion-header translucent>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-icon name="arrow-back"></ion-icon>
    </ion-buttons>
    <ion-title>
      PERFIL
    </ion-title>
  </ion-toolbar>
</ion-header>

<!--Mostrar o Usuario-->

<ion-content full screen>
  <ion-grid style='position:relative; top:0px; left:0px;'>
    <img
      src="https://images.homify.com/c_fill,f_auto,h_500,q_auto,w_1280/v1489600031/p/photo/image/1907338/MG_7818-1.jpg">
    </ion-grid>
    <div class="row row-center">
      <div class="col text-center">
        <img alt="Logo" height="100" style='border-radius: 1000%; position:absolute; top:110px; left: 132px;'
          src="https://1.bp.blogspot.com/-EqlDDoaWEdA/W8Dati26jAI/AAAAAAAABbU/GXfZy3etkmE6wru93NmzbxBzs6EYned3QCLcBGAs/s1600/faxineira%2Bimagem.png">
      </div>
    </div>
  <ion-grid class='perfil'>
    <h1 class='nome'>Persona</h1>
    <p class='cargo'>Cargo da pessoa</p>
    <p class='cargo'>Tempo de Serviço no app</p>
  </ion-grid>
  <ion-grid>

  </ion-grid>


</ion-content>


<!-- Footer without a border -->

<!-- Tabs Da Pagina -->

<ion-footer class="ion-no-border">
  <ion-toolbar>
    <ion-tabs position="back">
      <ion-tab-bar slot="bottom">
        <ion-tab-button tab="schedule">
          <ion-icon name="calendar"></ion-icon>
          <ion-label>Agenda</ion-label>
          <ion-badge>6</ion-badge>
        </ion-tab-button>

        <ion-tab-button tab="speakers">
          <ion-icon name="home"></ion-icon>
          <ion-label>Início</ion-label>
        </ion-tab-button>

        <ion-tab-button tab="map">
          <ion-icon name="person"></ion-icon>
          <ion-label>Perfil</ion-label>
        </ion-tab-button>

      </ion-tab-bar>
    </ion-tabs>
  </ion-toolbar>
</ion-footer>